@media (max-width: 1250px) {
    .container {
        display: grid;
        grid-template-columns: auto;
      }
}

@media (max-width: 875px) {
    .container {
       display: flex;
       flex-direction: column;
      }
}

@media (max-width: 875px) {
    .container {
       display: flex;
       flex-direction: column;
      }
}
@media (max-width: 375px) {
    .container {
       display: flex;
       flex-direction: column;
      }
}