body {
  margin: 0;
  padding: 0;

  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

svg {
  display: inline-block;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}
.container {
  display: grid;
  grid-template-columns: auto auto;
}

.add-item {
  display: flex;
  flex-direction: column;
  margin: 4rem;
  width: auto;
  grid-gap: 3rem;
}

.toDoImage {
  display: flex;
  margin: 1rem;
}

#addToDo {
  border: solid;
  border-radius: 2px;
  font-size: 20px;
  color: white;
  padding: 20px;
  background-color: #385e72;
}
#click {
  background-color: #6aabd2;
  border: none;
  color: white;
  font-size: 20px;
  padding: 15px;
  outline: none;
}
#click:hover {
  background-color: #385e72;
}
#inputTask {
  display: flex;
  outline: none;
  border: solid;
  border-radius: 2px;
  color: #385e72;
  padding: 22px;
  font-size: 30px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
h1 {
  color: #385e72;
}

#itemList {
  display: flex;
  flex-direction: column;
  grid-gap: 0.8rem;
}
#hiddenBtn {
  grid-gap: 1rem;
  display: flex;
  justify-content: center;
}
#deleteBtn {
  background-color: #6aabd2;
  border: none;
  color: white;
  font-size: 20px;
  padding: 1rem;
  outline: none;
}
#sortListBtn {
  background-color: #6aabd2;
  border: none;
  color: white;
  font-size: 20px;
  padding: 15px;
  outline: none;
  width: 7rem;

}
