body {
    margin: 0%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: "Noto Sans HK", sans-serif;
  }

.container {
  display: grid;
  grid-template-columns: auto auto;
  margin-bottom: 30px;
    
}
.add-item {
  display: flex;
  flex-direction: column;
  margin: 7%;
  width: 43rem;
  grid-gap: 2rem;

}

.toDoImage {
  display: flex;
  margin: 50px;
}

#addToDo {
 border: solid;
  border-radius: 2px;
font-size:30px;
}
#click {
  background-color: black;
  border: none;
  color: white;
}